*,*::before,*:after{
    box-sizing: border-box;
} 

body{
    font-family:'Plus Jakarta Sans', sans-serif;;
    margin: 0;
    padding: 0;
    background-color: #FFF7F0;
}

img{
    max-width: 100%;
    display: block;
}

h1,h2,h3{
    font-weight: 700;
}

h2{
    font-size: 1.625rem;
}

p{
    font-weight: 500;
    font-size: 1.125rem;
    color: #7A746E;
    line-height: 28px;
}

a,.button{
    cursor: pointer;
}


/*global*/
.container{
    max-width: 90%;
    margin: 0 auto;
    max-width: 1440px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center{
    text-align: center;
}


/*buttons*/
.button{
    text-decoration: none;
    color: white;
    border-radius: 200px;
    padding: 14px 27px;
    font-size: 1.125rem;
}

.nav__button{
    background-color: #030303;
}

.nav__button:hover{
    transition: ease-in .2s;
    background-color: #755CDE;
}

.nav__button:active{
    background-color: #755CDE;
}

.red__button{
    background-color: #EB7565;
}

.red__button:hover{
    background-color: #F6A560;
    transition: ease-in .2s;
}

.red__button:active{
    background-color: #F6A560;
}


/*nav*/
.nav__logo{
    width: 48px;
    height: 48px;
}

.nav__header{
    margin:16px 0 41px 0;
}

/*header*/
.header__text--wrapper{
    margin: 30px 0 36px 0;
}  

/*services section*/
.services__card{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.services__text{
    color: white;
    align-self: flex-start;
    font-size: 1.5rem;
}

.services__logo,
.services__text{
    margin: 22px;
}


.services{
    display: grid;
    grid-template:  364px 182px 158px 182px 182px/ 1fr 1fr;
    grid-template-areas: 
    "graphics graphics"
    "ui apps"
    "illustrations illustrations"
    "photography photography"
    "motionGraphics motionGraphics"
    ;
    gap: 23px;
}

.services__graphics{
    grid-area: graphics;
    background-color: #755CDE;
}

.services__ui{
    grid-area: ui;
    background-color:#F6A560;
}

.services__apps{
    grid-area: apps;
    background-color:#F39E9E;
}

.services__illustrations{
    grid-area: illustrations;
    background-color:#EB7565;
}

.services__photography{
    grid-area: photography;
    background-color:#61C4B7;
}

.services__motionGraphics{
    grid-area: motionGraphics;
    background-color:#552049;
}


/*introduciton*/
.introduction__img{
    margin: 99px 0 47px 0;
}

.introduction__text{
    margin: 32px 0 44px 0;
}

/*slider*/
.slider__title{
    margin: 113px 0 37px 0;
}

.slider__img{
    border-radius: 15px;
    max-width: 270px;
    height: 180px;
}


/*contact*/
.contact{
    margin-top: 132px;
    background-color: black;
    color: white;
    border-radius: 15px;
    padding-bottom: 55px;
}

.contact__title{
    padding: 55px 0 36px 0;
}
    
.contact__text{
    color: white;
    padding-bottom: 45px;
}


.footer{
    padding: 39px 0 32px 0;
}

@media (min-width:650px){
    h1{
        font-size: 2.75rem;
    }

    h2{
        font-size: 2rem;
    }

    .button{
        padding: 15px 45px;
        font-size: 1.125rem;
    }
    

    /*nav*/
    .nav__header{
        margin:38px 0 80px 0;
    }

    .nav__logo{
        width: 64px;
        height: 64px;
    }

    /*header*/
    .header__text--wrapper{
        margin: 43px 0 67px 0;
    }  

    .services{
        grid-template: 1fr 158px 1fr / 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "graphics graphics ui apps"
        "graphics graphics illustrations illustrations"
        "photography photography  motionGraphics motionGraphics"
        ;
        gap: 25px 23px;
    }
    
    .introduction{
        display: flex;
        text-align: left;
        padding: 120px 0 0 0;
    }

    .introduction__img{
        margin: 30px 0 0 0;
        min-height: 364px;
        max-width: 364px;
        transform: translateX(-80px);
        overflow: hidden;
    }
    .introduction__text{
        margin: 0 0 44px 0;
    }

    .column{
        width: 50%;
    }

    .slider__img{
        border-radius: 30px;
        max-width: 540px;
        height: 360px;
    }

    .contact{
        padding-bottom: 83px;
    }

    .contact__title{
        padding: 61px 0 39px 0;
    }

    .footer{
        padding: 59px 0 60px 0;
    }  
}

@media (min-width:1100px){
    .container{
        width: 80%;
    }

    h1{
        font-size: 3.5rem;
    }

    h2{
        font-size: 2.5rem;
    }

    .services{
        grid-template: 1fr 158px/ repeat(6, 1fr);
        grid-template-areas: 
        "graphics graphics ui apps photography photography"
        "graphics graphics illustrations illustrations motionGraphics motionGraphics"
        ;
        gap: 25px 23px;
    }

    .introduction__img{
        transform: translateX(0);
        max-width: 425px;
        min-height: 410px;
    }

    .contact{
        padding: 0;
    }

    .contact__card{
        display: flex;
        justify-content: space-between;
    }

    .contact__card.container{
        width: 90%;
    }

    .contact__button{
        align-self: center;
        justify-content: center;
        
    }

    .contact__text--wrapper{
        text-align: left;
        width: 50%;
    }

}